@import "ember-side-menu";
@import "ember-power-select";
@import "preloader";

.hide {
  display: none;
}

h1 {
  font-weight: 300!important;
}

h3 {
  font-weight: 100!important;
}

body {
  /*overflow-y: hidden;*/
  margin:0;
  padding:0;
  background-color: #eeeeee;

}

.yellow {
  color: #f3a536;
}

.gutters {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
}

.form-footer {
  margin-top: 3rem;
}

.field input {
  padding: 1rem;
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

p  {
  font-family: "avenir";
}

a {
  text-decoration: none;
  color: #212529!important;
}

a:hover {
  text-decoration: none!important;
}

input {
  padding-left: 10px;
  border: 1px solid #f3a536;
}

input[type="text"] {
    border-radius: 0px!important;
  }

button {
  background: #4A4A4A;
  color: white;
  font-family: "avenir";
  border: 0px;
  padding: 10px;
}

.wrapper {
  position: relative;
  width: 1000px;
  height: 715px;
  margin: auto;
}

#cf4a {
  position: relative;
  height: 527px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  transform: translate(15.4%, 34.9%);

}



.orange-card {
  position: absolute;
  top: 0%;
  right: 0;
  transform: translate(-11.5%, 46%);
  background-color: #F5A623;
  height: 400px;
  width: 50%;
  opacity: 0.9;
  /*min-width: 40rem;
  max-width: 40rem;*/
  flex-wrap: wrap;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


#cf4a img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 357px;
  height: 400px;
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  max-width: 40rem;
  min-width: 15rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.bkimg {
  background-image: url('/img/Background.jpg');
  height: 100%;
  overflow-y: hidden;
}


@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 20s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 18s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 16s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 14s;
}
#cf4a img:nth-of-type(5) {
  animation-delay: 12s;
}
#cf4a img:nth-of-type(6) {
  animation-delay: 10s;
}
#cf4a img:nth-of-type(7) {
  animation-delay: 8s;
}
#cf4a img:nth-of-type(8) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(9) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(10) {
  animation-delay: 2s;
}
/*#cf4a img:nth-of-type(11) {
  animation-delay: 0;
}*/


/*Mobile Version*/


#mbcf4a {
  /*position: relative;*/
  height: 527px;
  width: 100%;
  margin: 0 auto;
  top: 0;

}



.mb-orange-card {
  position: absolute;
  background-color: #F5A623;
  opacity: 0.9;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  /*margin-top: -4.9rem;*/
  margin-bottom: 6rem;
  max-width: 31rem;
  min-width: 15rem;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  top: 61.9%;
}


#mbcf4a img {
  position: absolute;
  top: 3%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*min-height: 400px;*/
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  max-width: 31rem;
  min-width: 15rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}



#mbcf4a img:nth-of-type(1) {
  animation-delay: 20s;
}
#mbcf4a img:nth-of-type(2) {
  animation-delay: 18s;
}
#mbcf4a img:nth-of-type(3) {
  animation-delay: 16s;
}
#mbcf4a img:nth-of-type(4) {
  animation-delay: 14s;
}
#mbcf4a img:nth-of-type(5) {
  animation-delay: 12s;
}
#mbcf4a img:nth-of-type(6) {
  animation-delay: 10s;
}
#mbcf4a img:nth-of-type(7) {
  animation-delay: 8s;
}
#mbcf4a img:nth-of-type(8) {
  animation-delay: 6s;
}
#mbcf4a img:nth-of-type(9) {
  animation-delay: 4s;
}
#mbcf4a img:nth-of-type(10) {
  animation-delay: 2s;
}


/*////////////////////////////*/
/*///// 992px or more ///////*/
/*///// Big Screen ///////*/
/*//////////////////////////*/
@media (min-width: 992px) {
  .hide992px {
    display: none!important;
  }
}

/*////////////////////////*/
/*///// 991px width ///////*/
/*///// Little Screen /////*/
/*////////////////////////*/
@media (max-width: 991px) {
  .hide991px {
    display: none!important;
  }
}

/*////////////////////////*/
/*///// SMALL SCREEN ///////*/
/*///// 500px width ///////*/
/*////////////////////////*/
@media (max-width: 500px) {
  .mt500px {
    margin-top: -2rem!important;
  }
}



/*////////////////////////*/
/*/////   Button   ///////*/
/*////////////////////////*/
.yellowbutton {
  background: #f3a536;
  color: white!important;
  padding: 1rem 2.5rem;
  font-size: 18px;
}

.yellowbutton a {
  color: white!important;
}



/*////////////////////////*/
/*/////   Margins   ///////*/
/*////////////////////////*/

.mtpoint5 {
  margin-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mt7 {
  margin-top: 7rem;
}

.mt9 {
  margin-top: 9rem;
}



/*////////////////////////*/
/*/////   Navbar   ///////*/
/*////////////////////////*/
ul {
  list-style: none;
}


.tab {
  border-right: 1px solid #f3a536;
  border-left: 1px solid #f3a536;
  padding: 1px 8px;
  border-top: 1px solid #f3a536;
}

.tab:hover a {
  background: #f3a536!important;
  color: white!important;
}

.tab-active {
  background: #f3a536;
  color: white!important;
}

.btn {
  margin: 0.5rem;
}

#scentschedule td {
  max-width: 6rem;
}

#scentschedule input {
  max-width: 6rem;
}

.calllog {
  height: 117px;
  width: 100%;
}

@media (min-width: 1080px) {
  .hidedesktop {
    display: none;
  }
}

@media (max-width: 1079px) {
  .hidemobile {
    display: none;
  }
}

@import "ember-bootstrap/bootstrap";

@import "ember-power-select";



/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}