<img src="/img/IMG_0584.png" style="max-width: 5rem;" alt="">
<p style="margin-bottom: 0rem; margin-top: 1rem;">Ships in 1-2 business days</p>
<span style="display: block; border-bottom: 1px solid #f3a536; margin: auto; max-width: 11.6rem; margin-bottom: 0.5rem;"></span>
<div class="row">
    <div class="col">
        <p>Shipping</p>
        <p><strong>Total</strong></p>
    </div>
    <div class="col">
        <p>Free</p>
        <p><strong>$13.99 (One-time Purchase)</strong></p>
    </div>
</div>