<section class="bkimg">
<div class="container">
  <div class="row mb4 mt4">
    <div class="col-xs-12 text-center">
      <div class="wrapper">
        <div class="col-xs-12 col-md-6">
          <div id="cf4a">
            <img src="/img/beard-logo-1.jpg"  alt="">
            <img src="/img/beard-logo-2.jpg"  alt="">
            <img src="/img/beard-logo-3.jpg"  alt="">
            <img src="/img/beard-logo-4.jpg"  alt="">
            <img src="/img/beard-logo-5.jpg"  alt="">
            <img src="/img/beard-logo-6.jpg"  alt="">
            <img src="/img/beard-logo-7.jpg"  alt="">
            <img src="/img/beard-logo-8.jpg"  alt="">
            <img src="/img/beard-logo-9.jpg"  alt="">
            <img src="/img/beard-logo-10.jpg"  alt="">
            <img src="/img/beard-logo-11.jpg"  alt="">
          </div>
        </div>
        <div class="col-xs-12 col-md-6 orange-card text-center">
          <!-- <div class=""> -->
          <h2 style="color: white; margin-top: 10rem;">COMING SOON</h2>
          <div class="col-xs-12 col-md-8 text-center col-md-offset-2" style="margin-top: 2rem;">
            <p style="color: white;">Be one of the first people to get Pearl’s Beard Oil. Your Beard will love you for it!</p>
            {{#simple-form as |formValues| }}
              {{input value=formValues.email placeholder="Email Address"}}

              <button>SIGN UP</button>
            {{/simple-form}}
            <p class="text-center" style="color: white; margin-top: 2rem;"><strong>100</strong> spots left</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
    </div>
  </div>
</div>
</section>

{{outlet}}
