<section style="margin-bottom: 30rem;">
  <div class="container">
    <div class="row mb mt">
      <div class="col col-xl-7 mt9 text-center">
        <h1>ONLY $13.99 A MONTH</h1>
        <h3 style="margin-bottom: 0px;">Your beard and the environment</h3>
        <h3 style="margin-bottom: 2rem;">will love you for it.</h3>
        <button class="yellowbutton">GET GROWIN</button>
      </div>
      <div class="col-xl-3 col-md-8 col-md-offset-2">
        <img src="./img/IMG_0584.png" style="max-width: 5rem; transform: rotate(-15deg);" alt="">
        <img src="./img/IMG_0584.png" style="max-width: 5rem; transform: rotate(35deg); display: block; margin-left: 11rem; margin-top: -9rem;" alt="">
      </div>
    </div>
  </div>
</section>

{{outlet}}
