 

<section id="launch" style="padding-top: 13px;" >

<div  class="container">


  <div class="row">

     <div class=" col-xs-12  col-lg-5 " style="height:auto; margin:auto;">

       <section id="formHolder" class="fadein" style="">
       <div style="max-width: 410px; margin: auto; margin-bottom: 2rem;">
         <div class="row">
           <div class="col-sm align-self-center" style="padding-left: 16px; padding-right: 16px;">
             <h3 style="float: none; text-align: center; margin-bottom: 2rem; text-transform: uppercase; border-bottom: 1px solid #f3a536;">Forgot Password</h3>
             
             <p style="margin-bottom: 1rem;">To reset your password, enter the email associated<br> 
              with this account. We'll send you instructions<br> to verify your identitfy and finalize your new password.</p>
           </div>

         </div>
       </div>

       {{#simple-form class="card__form" onsubmit=(action "saveForm") as | formValues |}}
              {{#each errors as |error|}}
                <p style="color: red; padding-bottom: 2rem; font-size: 15px; padding-top: 1rem;">{{error.meta.exception}}If you haven’t logged in before, please create an account here:</p>
                
              {{/each}}
               {{input class="form__input" type="email" required=true name="email" value=formValues.email title="Must be a Charter or Spectrum email account" placeholder="E-Mail"}}<br/>
               {{input class="form__input " type="password" minlength="8" required=true value=formValues.password placeholder="New Password"}}<br>
               {{input class="" type="password" minlength="8" required=true  value=formValues.passwordConfirmation placeholder="Confirm New Password"}}<br/>
                 <div class="button-box">
                 <button type="submit" class="yellowbutton" style="border-radius: 0rem; width: 280px;">Reset Password</button>
                 </div>
        {{/simple-form}}

       </section>
    </div>


  </div>

  </div>

</section>

