        <section>
            <div class="container">
                <div class="row">
                    <div class=" col-xs-12  col-lg-4 text-center" style="height:auto; margin:auto;">
                        <section id="profile" style="padding: 5px 0;">
                                <p style="font-size:20px; font-weight:400; margin-top: 2rem;">
                                    {{fa-icon "check-circle" style="color: #f3a536; font-size: 2rem;"}}<br>
                                    Your identity has now been verified.<br>
                                    Please login with your new password.
                                </p>
                                <br>
                                {{#simple-form class="card__form" onsubmit=(action "checkForm") as | formValues |}}
                                {{input class="form__input" type="text"
                                required=true value=formValues.email placeholder="E-Mail"}}<br /> {{input
                                class="form__input" type="password" required=true
                                value=formValues.password placeholder="Password"}} 
                                {{#each errors as |error|}}
                                <p style="color: red;">{{error.detail}}</p>
                                {{/each}}
                                <div class="button-box ">
                                    <button type="submit" class="yellowbutton" style="border-radius: 0rem; width: 280px; margin-top: 2rem;">Login</button>
                                </div>
                                {{/simple-form}}
                             
                        </section>
                    </div>


                </div>

            </div>

        </section>





