<div style="text-align: center; max-width: 20rem; margin: 2rem auto;">
    {{!-- <h3 style="border-bottom: 1px solid #f3a536; margin-bottom: 2rem; margin-top: 4rem;">Pay Here</h3>
    <p>One-time payment</p>
    <script async src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
    <div data-ap-widget-type="expressPaymentButton" data-ap-signature="HGnCd2MG3GaJkZJVs07GwPgWlsr1n0VTkbNhycBvTks%3D"
        data-ap-seller-id="A10YKIRL9CSYE7" data-ap-access-key="AKIAJQC4BKIFSUL5VAOA" data-ap-lwa-client-id="amzn1.application-oa2-client.a627826460b74eaeb165531330ea7fa5"
        data-ap-return-url="https://www.pearlsbeardoil.com/thanks" data-ap-cancel-return-url="https://www.pearlsbeardoil.com"
        data-ap-currency-code="USD" data-ap-amount="13.99" data-ap-note="This subscription include one half ounce bottle of beard oil"
        data-ap-shipping-address-required="true" data-ap-payment-action="AuthorizeAndCapture">
    </div> --}}



    {{!-- <p style="margin-top: 4rem; margin-bottom: 0rem;">Monthly Subscription</p>
    <p style="margin-top: 0rem; margin-bottom: 0rem;">Via Paypal</p>
    <form style="margin-top: 1rem;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XR6YKTYMJQB4C">
        <input style="border: none; height: 3rem; width: 9rem; margin: auto; margin-top: 0.5rem; padding-left: 0rem;"
            type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit"
            alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <div style="margin-top: 2rem; max-width: 7rem; margin: auto;">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=R75E24W9ASKW2">
            <img style="margin: auto; margin-top: 4rem;" src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif"
                BORDER="0">
        </a>
    </div> --}}
    {{!-- <h3 style="border-bottom: 1px solid #f3a536; margin-bottom: 2rem; margin-top: 4rem; text-transform: uppercase;">Order Summary</h3> --}}
</div>
<div class="container">
    <div class="row" style="margin-bottom: 2rem;">
        <div class="col gutters text-center">
            <h3>Checkout Complete</h3>
            <div style="border: 1px solid #f3a536; margin-bottom: 1rem; max-width: 10rem; margin-left: auto; margin-right: auto;"></div>
            <div>
                {{fa-icon "check-circle" size="2" class="yellow"}}
            </div>
            <p>
                Check your email for an invoice. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            
            <img src="/img/IMG_0584.png" style="max-width: 5rem;" alt="">
            <p style="margin-bottom: 0rem; margin-top: 1rem;">Ships in 1-2 business days</p>
            <span style="display: block; border-bottom: 1px solid #f3a536; margin: auto; max-width: 11.6rem; margin-bottom: 0.5rem;"></span>
            <div class="row">
                <div class="col">
                    <p>Shipping</p>
                    <p>Cancel</p>
                    <p>Subscription</p>
                    <p><strong>Total</strong></p>
                </div>
                <div class="col">
                    <p>Free</p>
                    <p>Anytime</p>
                    <p style="">$7.50/month</p>
                    <p style="text-decoration: line-through;">$13.99/month</p>
                    <p><strong>$7.50/month</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin-top: 2rem; max-width: 7rem; margin: auto;">

</div>




<form action="localhost:3000" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="yellowbutton" data-key="pk_test_1x2UX3WNhEiAfh4kDH5bSd9X"
        data-amount="1399" data-name="Pearls Beard Oil" data-locale="auto">

        </script>
</form>