<div id="wrapper-launch">
  <div id="contentHome" class="" style="background: #0099d8;">
    <section id="header">

      <div>{{#link-to "login"}}<img class="srilogo" style="max-width: 16rem;" src="">{{/link-to}}
      </div>
    </section>


    <section id="launch" style="padding-top: 13px;">

      <div class="container fadein" style="min-height:78vh;">


        <div class="row " style="">





          <!-- //////////////////////////////////////// -->
          <!-- This is for when RNH is Ready for Launch -->
          <!-- //////////////////////////////////////// -->
          <div class=" col-xs-12  col-lg-12 " style=" width:80%; height:auto; margin:auto;">

            <section id="formHolder" class="fadein" style="">
              <div style="max-width: 410px; margin: auto; margin-bottom: 2rem;">
                <div class="row">
                  <div class="col align-self-center" style="padding-left: 16px; padding-right: 16px;">
                    <h3 style="display: block!important; float: none; text-align: center; color: white; margin-bottom: 2rem; text-transform: uppercase; border-bottom: 1px solid white;">Forgot
                      Password</h3>
                      <img style="max-width: 5rem; box-shadow: none;" src="/assets/img/checkmark.svg" alt="">
                    <p style="color: white; margin-bottom: 1rem;">An email was sent to your inbox with<br>
                     password reset instructions to verify your identity and finalize your new password.<br> 
                    Please give a fews minutes to receive the email.<br>
                    Be sure to check your spam folder.
                    </p>
                  </div>

                </div>
              </div>

              
            </section>
          </div>


        </div>

      </div>

    </section>





  </div>
  <!--  END WRAPPER  -->
</div>