<section class="">
<div class="container" style="padding-bottom: 26.5rem;">
  <div class="row mb4 mt4" style="position: relative;">
      <div class="col text-center ">
        <h2 style="margin-top: 5rem;">Welcome to the Club!</h2>
        <div style="margin-top: 0rem; margin-bottom: 5rem; margin-right: auto; margin-left: auto;">
          <p style="">Congrats on taking the first step towards a stronger, cleaner, healthier beard! Login to choose your scents for each month.</p>
          <p style="margin-top: 2rem;"><a href="/login" class="yellowbutton white ">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}
