<header>
  <section>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xs-12 col-8">
          <a href="https://www.pearlsbeardoil.com/" target="_blank">
            <!-- <img align="center" width="600" style="border-radius: 7px; width: 100%; max-width: 600px!important; margin: auto;" class="hund" src="/img/EMAIL-LOGO-ANIMATION.gif"> -->
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mb mt">
        <div class="col-sm text-center" style="margin-top: 4rem;">
          <p>Watch the video below for our second product announcement!</p>
          <!-- <img align="center" width="600" style="border-radius: 7px; width: 100%; max-width: 100px!important; margin: auto; margin-top: 14rem;" class="hund" src="/img/pearlsbeardbottle.png"> -->
        </div>
      </div>
    </div>
  </section>
</header>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12" style="margin-bottom: 4rem;">
        <video width="100%" height="100%" controls controlsList="nodownload">
          <source src="/img/Beard BarkAnnouncementfinal.mp4" type="video/mp4">
          <source src="/img/movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb mt">
      <div class="col-sm text-center">
      <p>BE APART OF OUR <strong>BETA TEAM</strong>.</p>
      <p>CREATE AN ACCOUNT</p>
      <div style="margin-bottom: 1rem;"><a href="https://www.paypal.me/pearlsbeardoil/13.99" target="_blank"><button type="button" name="button" style="background: #F5A623; color: white;">Buy Beard Oil</button></a></div>
      <p>BUY PEARL'S BEARD OIL TODAY FOR <strong>$13.99</strong></p>
      <p style="margin-bottom: 4rem;">THEN GIVE US YOUR FEEDBACK.</p>
      <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="X8YMXUGPWKXQY">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form> -->

      </div>
    </div>
  </div>
</section>
