<div style="text-align: center; max-width: 20rem; margin: 2rem auto;">
    <h3 style="border-bottom: 1px solid #f3a536; margin-bottom: 2rem;">Family Business</h3>

</div>
<div class="container">
    <div class="row justify-content-start mb1">
    <div class="hidemobile col-md col-md-2 col-lg-4 text-center mb1"><img src="./img/IMG_0327.jpeg" style="
            max-width: 14rem;
            object-fit: cover;
            height: 14rem;"
            alt="">
            <p>Shaun Willis</p>
    </div>
    <div class="hidemobile col-md col-md-2 col-lg-4 text-center mb1"><img src="./img/wanda.jpg" style="
            max-width: 14rem;
            object-fit: cover;
            height: 14rem;"
            alt="">
            <p>Wanda Pearl Sears</p>
    </div>
    <div class="hidemobile col-md col-md-2 col-lg-4 text-center mb1"><img src="./img/clinton.jpg" style="
                max-width: 14rem;
                object-fit: cover;
                height: 14rem;"
            alt="">
            <p>Clinton Mullen</p>
    </div>
    </div>
    <div class="row justify-content-between mb1">
    <div class="col-12 col-md-4 hidedesktop">
        <img src="./img/IMG_0327.jpeg" class="hidedesktop" style="
                max-width: 20rem;
                min-width: 20rem;
                object-fit: cover;
                height: 20rem;
                margin-bottom: 1rem;"
            alt="">
        <p>Shaun Willis</p>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
    <p style="text-align: left;">My name is Shaun Willis, I’m one of three co-founders inside this new and exciting beard oil subscription company that
    will make the world a better place. I’m also over our web development, and product development.
    Clinton, my wife’s sister’s
    husband, is over our business development, brand development, customer relations, and Social Media.</p>
    </div>
    <div class="col-12 col-md-4 hidedesktop">
        <img src="./img/wanda.jpg" class="hidedesktop" style="
                max-width: 20rem;
                min-width: 20rem;
                object-fit: cover;
                height: 20rem;
                margin-bottom: 1rem;"
            alt="">
            <p>Wanda Pearl Sears</p>
    </div>

    <div class="col-12 col-md-6 col-lg-12">
    <p style="text-align: left;">
    Pearl’s Beard Oil is made up of three co-founders: Wanda Pearl Sears, Clinton Mullen and me(Shaun Willis). Wanda Pearl,
    my wife’s aunt, is our master mixer behind our amazing company. She is the mastermind behind creating our best smelling
    scents (and in the future unscented) on the market.</p>
    </div>
    <div class="col-12 col-md-4 hidedesktop">
        <img src="./img/clinton.jpg" class="hidedesktop" style="
                max-width: 20rem;
                min-width: 20rem;
                object-fit: cover;
                height: 20rem;
                margin-bottom: 1rem;"
            alt="">
            <p>Clinton Mullen</p>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
        <p style="text-align: left;">
          Pearl's Beard Oil is a Christian-based company that was created after discovering there are no beard oil companies that
          offer the best beard oil products. At Pearl's we realized that it isn't just about taking care of your beard. It's about
          having the best beard. Our mission is to not only help you grow a thick, full beard, but have the best beard amongst
          your peers. Subscribe with us today and become the best bearded gentleman in the room. Only the best for the best
          beards.
        </p>
    </div>

    </div>

</div>