<div style="text-align: center; max-width: 20rem; margin: 2rem auto;">
    <h3 style="border-bottom: 1px solid #f3a536; margin-bottom: 2rem;">Family Business</h3>

</div>
<div class="container">
    <div class="row justify-content-between mb1">
    <div class="col">
    <p style="text-align: left;">My name is Shaun Willis, I’m one of three co-founders inside this new and exciting beard oil subscription company that
    will make the world a better place. I’m also over our web development, business development, and product development.
    Pearl’s Beard Oil is made up of three co-founders: Wanda Pearl Sears, Clinton Mullen and me(Shaun Willis). Wanda Pearl,
    my wife’s aunt, is our master mixer behind our amazing company. She is the mastermind behind creating our best smelling scents (and in the future unscented) on the market. Clinton, my wife’s sister’s
    husband, is our customer relations, Instagram post creator and brand development.<br>
    
    Pearl's Beard Oil is a Christian-based company that was created after discovering there are no beard oil companies that
    offer zero waste beard oil products. When you toss your bottle out, you are creating waste that impacts the
    environment. But with some research, we found a way to help the environment one subscription at a time. Our mission is
    to help you grow a thick, full beard that you’ve always wanted while also protecting the environment at an affordable
    price. Subscribe with us today. Your beard and the environment will be better for it.</p>
    </div>

    <div class="col-md col-md-2 text-center mb1"><img src="./img/IMG_0584.png" style="max-width: 5rem; transform: rotate(5deg);"alt=""></div>
    </div>
    
</div>