<section style="margin-bottom: 10rem;">
  <div class="container">
    <div class="row justify-content-center mb1">
      <div class="col-lg-10 text-center">
        <h1  style="margin-bottom: 0rem; margin-top: 4rem;">Our Products</h1>
        <h3  style="margin-bottom: 2rem; margin-top: 0rem; "></h3>
          <p style="margin-bottom: 6rem;">
            Our products are made from zero chemicals, so your 
            beard can remain healthy as it grows thicker and fuller
            naturally. We offer zero waste beard oil products,
            so you not only help your beard become better 
            but the environment will be better for it as well.
            Browse through our various products that are
            available in two different scents for you to enjoy.
          </p>

          <h3 style="margin-bottom: 2rem;">Customize Your Order</h3>
          {{!-- <div class="text-center" style="border: 1px solid #f3a536; width: 8rem; margin: auto;"></div> --}}

          <div class="tabs">
            {{#link-to 'products.one-time-purchase'}}One-time Purchase{{/link-to}}
            {{#link-to 'products.subscription'}}Subscribe{{/link-to}}
          </div>
          {{outlet}}

        </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-xs-12 col-lg-10">
        <!-- Your embedded comments code -->
      <div class="fb-comments" style="max-width" data-href="https://www.pearlsbeardoil.com#products" data-width="100%"
        data-numposts="5"></div>
      </div>
    </div>
  </div>
</section>
{{!-- <section style="background: #f3a536; color: white; border-top-right-radius: 80%; margin-right: -16rem; overflow-x: hidden;">
  <div class="container" style="margin-left: 4rem;">
    <div class="row justify-content-center">
      <div class="col text-center" style="margin-top: 4rem; margin-bottom: 4rem;">
            <h3>OUR PRODUCTS</h3>
            <p style="margin-bottom: 0rem;">Zero waste. Zero chemicals.</p>
          <div  class="row justify-content-center">
           <div class="col-sm text-center" style="margin-top: 2rem;">
             <img style=" max-width: 21rem; transform: rotate(90deg); border-radius: 50%;" src="/img/IMG_0788.JPG" alt="">
           </div>
           <div class="col-sm text-center" style="margin-top: 6rem;">
            <p><span style="font-size: 19px;">Sandy Cheeks</span> - Ingredients: Grape seed oil bergamot and myrrh</p>
            <p><span style="font-size: 19px;">Beard Bark</span> - Ingredients: Apricot oil atlas cedar and patchouli</p>
           </div>
          </div>
    </div>         
  </div>         
 </div>         
</section> --}}
<section style="background: #f3a536; color: white; padding-top: 15rem; background: #f3a536; color: white; padding-top: 15rem; padding-bottom: 10rem; border-top-left-radius: 141%; margin-left: -9rem;">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col col-8 text-center" style="">
        <h3 style="text-transform: uppercase;">Beard Oil Product Ingredients</h3>
        <p style="margin-bottom: 2rem;">Fix Dry Beard. Help the Environment. Zero waste. Scented Beard Oils.</p>
        <div class="row justify-content-center">
          <div class="col-9 text-center" style="margin-top: 2rem;">
            <img style="min-width: 15rem; border-radius: 50%;max-width: 80%;" src="/img/bottles.jpg" alt="">
          </div>
          <div class="col text-center" style="margin-top: 6rem; min-width: 10rem;">
            <p style="margin-bottom: 3rem;">
              <span style="font-size: 19px; font-weight: bold;">Sandy Cheeks</span> ~ Includes: Grape seed oil, bergamot and myrrh</p>
            <p>
              <span style="font-size: 19px; font-weight: bold;">Beard Bark</span> ~ Includes: Apricot oil, atlas, cedar and patchouli</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>