<section style="margin-bottom: 10rem;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1  style="margin-bottom: 2rem; margin-top: 4rem;">NATURALLY MADE TO MAKE NATURAL RESULTS</h1>
          <p style="margin-bottom: 6rem;">
            Our products are made from zero chemicals, so your <br />
            beard can remain healthy as it grows thicker and fuller<br />
            naturally. Browser through our various products that are<br />
            available in nine different scents for you to enjoy.
          </p>
          <h3>CUSTOMIZE YOUR ORDER</h3>
          <div class="text-center" style="border: 1px solid #f3a536; width: 8rem; margin: auto;"></div>
          <div class="row justify-content-center"  style="margin-top: 4rem;">
            <div class="col-sm">
              <img style="max-width: 5rem;" src="./img/IMG_0584.png" alt="">
            </div>
            <div class="col-sm align-self-center">
              <p style="margin-top: 2rem;">$13.99 / month</p>
              <p>free shipping, cancel anytime</p>
          {{#if session.isAuthenticated}}
            {{#link-to 'admin.users.editscents' currentUser.user.id}}<button class="yellowbutton">Schedule Scents</button>{{/link-to}}
            {{else}}
            {{#link-to 'register'}}<button class="yellowbutton">Be a Product Tester</button>{{/link-to}}
          {{/if}}
            </div>
          </div>

        </div>
    </div>
  </div>
</section>
